html, body {
    margin: 0;
}

* {
    /* outline: 2px solid black; */
    font-family: Inter;
}

body {
    font-family: Inter;
}

header, footer {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
}

header > img {
    width: 40px;
    margin-right: 7px;
    filter: brightness(0) invert(1);
}

header > h1, footer > h1 {
    font-size: 1.2rem;
    font-weight: 500;
}
